$image-overlay-opacity: 0.7;

.product-card {
  width: 15%;
  height: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px;
  gap: 10px;
  position: relative;
  overflow: hidden;
  transition: all 500ms ease-out;

  &:hover {
    box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.2);
    .image-overlay {
      opacity: $image-overlay-opacity;
    }

    .view-details {
      opacity: 1;
      width: 152px;
      font-size: 15px;
      margin-left: -75px;
      top: 35%;
      transition: all 200ms ease-out;
    }
  }

  .product-img {
    display: flex;
    justify-content: center;
    img {
      width: 50%;
      object-fit: fill;
    }
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a0c3d2;
    opacity: 0;
    transition: all 200ms ease-out;
  }

  .view-details {
    position: absolute;
    top: 112px;
    left: 50%;
    margin-left: -85px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    width: 172px;
    opacity: 0;
    transition: all 200ms ease-out;

    &:hover {
      background: #a0c3d2;
      color: #fff;
      cursor: pointer;
    }
  }
  .product-detail {
    display: flex;
    flex-direction: column;
    gap: 3px;
    .product-brand {
      font-size: 22px;
      color: #393c45;
      font-weight: 500;
    }
    .product-name {
      font-size: 18px;
      color: #393c45;
    }
    .product-price {
      color: #9e4784;
    }
  }
}
